.App {
  text-align: center;
}
body {
  background-image: url("../../Assets/pizza3.jpg");
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90vh;
  background-color: black;
  color: white;
}
.body {
  height: 70vh;
  width: 30vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  flex-direction: column;
  /* border: white 1px solid; */
}
/* Nav */
nav {
  border-bottom: 10px dotted white;
  height: 10vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-around;
}
label {
  color: White;
}
a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
/* Form */
.form {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
