main.mainSection{
    background-color: #0f0f0f;
    width:100%;
    min-height:100vh;
    color: #f4f4f4;
}
.hero{
    width:100;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('https://images.pexels.com/photos/1596888/pexels-photo-1596888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;
    background-position-y: 1px;
    position: relative;
}
.hero::before{
    content: "";
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    background-color: rgba(0,0,0,.5)
}
.hero-content{
    z-index: 1;
}
.hero-content h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.hero-content a{
    text-decoration: none;
    padding: 12px 10px;
    background-color: white;
    color: dodgerblue;
    font-weight: bold;
    border-radius: 10px;
}
.hero-content a:hover{
    background-color: pink;
}
.food-section{
    padding: 50px;
    width: 100%
}
.food-section h2{
    padding-bottom: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.article-Container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.article-Container article{
    margin-bottom: 20px;
    width: 500px;
}
.features{
    margin-top: 10px;
}
.features span{
    position: relative
}
.features span:nth-child(1){
    color: green;
}

.info{
    margin-top: 10px;
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.info p{
    padding: 12px 10px;
    background-color: black;
    color: crimson;
    border: 1px solid crimson;
}
