
.Nav-wrapper{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.Nav-btn{
    color: white;
    border: solid 1px blue;
    border-radius: 4px;;
    padding: 6px 12px;
    font-style: normal;
    text-decoration: none;
}
.Nav-btn:hover{
    background: rgb(51, 51, 132);
}
.Nav-btn-active{
    background: blue;
}
