

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
    background-color: rgb(236, 225, 225);
}

.nav-btn {
    background-color: rgb(113, 161, 216);
    padding: 1rem;
    border: 6px solid grey;
    border-radius: 10px;
    margin-top: 3rem;
}

.nav-btn:hover {
    background-color: black;
    padding: 1rem;
    border: 6px solid grey;
    color: #fff;
    border-radius: 10px;
    margin-top: 3rem;
    transition: 2s;
}

