@import url('https://fonts.googleapis.com/css?family=Muli|Raleway:400,600');
html,
body,
#root {
  width: 100%;
  height: 105%;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.App {
  font-family: 'Muli', sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  font-weight: 400;
  
  text-decoration: none;
  object-fit: cover;
  background-image: url("https://img.jakpost.net/c/2018/12/19/2018_12_19_61188_1545200642._large.jpg");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 3px;
  text-decoration: none;
  
}



.nav-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;

}

.nav h1{
  color:white;
}
.nav-links a {
  text-decoration: none;
  color:white;
  font-size:2rem;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;

}

.store-header {
  color:white;
  text-decoration: none;
  display:flex;
  justify-content: center;
  
}

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  height: 100vh;
  background-image: 
  linear-gradient(to right bottom, 
   rgba(2, 21, 26, 0.8),
   rgba(4, 34, 24, 0.8)),
   url('https://img.jakpost.net/c/2018/12/19/2018_12_19_61188_1545200642._large.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
  

}

.home-image {
  width: 100%;
  max-height: 600px;
}



.items-list-wrapper {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  color:red;
  font-size:2rem;

}

.items-list-wrapper a{ 
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color:red;
  
  
}

h1{ 
  margin-top: 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  color:white;
  font-size:4rem;
  font-weight: 300px;
}
p,
label {
    font: 5rem 'Fira Sans', sans-serif;
    display: flex;

  
}

 label {
    font-size:1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.item-card {
  width: 250px;
  margin: 3rem;
  cursor: pointer;
  
}

.item-card p {
  margin: 0 0 4px;
  color: red;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.item-list-image {
  width: 100%;
  border: 1px solid lightgray;
  display:flex;
  justify-content:row;
  
}

.item-wrapper {
  width: 100%;
}

.item-header {
  display: flex;
  justify-content: center;
}

.item-header h2,
.item-header h4 {
  color: red;
  margin: 0;
}

.item-header h4 {
  margin-top: 16px;
}

.item-sub-nav {
  border-bottom: 1px solid #a1d5d4;
  justify-content: center;
}

.item-sub-nav a {
  color: #a5a5a5;
  text-decoration: none;
  padding: 12px;
}

.item-sub-nav a.active {
  color: #1c5d76;
  font-weight: bold;
}

.item-sub-nav a:first-of-type {
  margin-right: 32px;
}

.item-card a {
  text-decoration: none;
}

.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.item-title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-self:center;
  margin-bottom:2rem;
}

.item-title-wrapper h2{
  display: flex;
  flex-flow: column nowrap;
  align-self:center;
  
}

.item-description {
  max-width: 720px;
  margin: 32px auto;
}
.lambda-eats-buttons{
margin:50px;

}



.p{
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 27px 27px 27px 27px;  padding: 10px;
  box-shadow: 5px 10px 8px ;
  box-sizing: border-box;
  border: solid black 2px;
  background-image: url("https://t3.ftcdn.net/jpg/03/48/57/08/240_F_348570826_GWIH6P309NvzhO2gArpHfKxXEjPPqcpx.jpg");
  opacity: 0.8;

}  

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.4rem;
}


select {
  height: 40px;
  width: 325px;
  align-self: center;
  background-color: rgb(255, 255, 255);
  
}

select:focus {
  outline: none;
  border-color: #1ee7e2;
}

input:focus {
  outline: none;
  border-color: #1ee7e2;
}

/* input:placeholder {
  color: #a8b2b2;
} */

button {
  box-shadow: 0px 10px 14px -7px #4ed00d;
	background:linear-gradient(to bottom, #b38359 5%, #408c99 100%);
	background-color:#b38359;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:5px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-top: 20px;
  margin-bottom:10px;
  width:40%;
  align-self: center;
  background-image:url('https://image.shutterstock.com/image-vector/marijuana-seamless-pattern-weed-vector-260nw-1169612797.jpg') ;
  
}

button:hover {
  background-image: url("https://i.pinimg.com/236x/49/6d/cd/496dcd2361b4f23c8a28b71112a942ba--wallpaper-for-cell-phone-phone-wallpapers.jpg");
  background-color: #4dd0e1;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  color:white;
}

button:disabled {
  background-image:url('https://image.shutterstock.com/image-vector/marijuana-seamless-pattern-weed-vector-260nw-1169612797.jpg') ;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  cursor: not-allowed;
}

p {
  font-size: 1.2rem;
  color: red;

}

.terms {
  display: inline-block;
  align-self: self-start;
}

.terms input {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

select {
  font-size:.9rem;
}

.items-list-wrapper h2{
  background:rgba(1, 0, 0, 0.262);
  font-size:1.5rem;
  color:white;
}
textarea{
  width: 100%;
  margin: 5px 0 0;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}
input[type="text" i] {
  align-self: center;
  padding: 10px;

}
input[type="password" i] {
  align-self: center;
  padding: 10px;

}
img{
  width:100%;
}
.sign-up-link{
  margin-right:5rem;
  display: flex;
  justify-content: center;
  font-weight: 900;
  margin-left: 4.9rem;
}
.sign-up-link a{
  font-size: 1.2rem;
  color:red;
  text-decoration: none;
  margin-left:.5rem;
  margin-top: 1.2rem;
}
.sign-up-link h4{
  font-size: 1.2rem;
  color:white;
  text-decoration: none;
  margin-left:.5rem;
  margin-top: 1.2rem;
}