* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Verdana";
}

html {
  background: rgba(238, 11, 11, 0.582);
}
.App {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: rgba(238, 11, 11, 0.282);
}

nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: black;
  height: 70px;
}

nav h2 {
  font-size: 2rem;
  color: white;
  margin: 1rem 2rem;
  width: 50%;
}

nav a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
}

nav .links {
  width: 50%;
  display: flex;
  margin: 1rem 2rem;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

nav .links a {
  width: 20%;
  text-align: center;
}

nav .links a:hover {
  color: red;
}

.home {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.heading {
  background: url(https://www.delonghi.com/Global/recipes/multifry/3.jpg)
    no-repeat center center fixed;
  background-size: contain;
  width: 100%;
  height: 450px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0 0 4rem 0;
  text-shadow: 2px 2px #807f7f;
}
.heading button {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: black;
  border: none;
  padding: 1rem;
  border-radius: 8px;
}

.heading button:hover {
  color: red;
}

.order {
  border: 2px solid black;
  width: 60%;
  font-size: 1.4rem;
  padding: 2rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.order h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.order form {
  width: 100%;
}

.item {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 1rem 0;
}

.item label {
  width: 100%;
  margin: 1rem 0;
  background-color: grey;
}

.item textarea {
  font-size: 1.4rem;
}

.confirmation {
  visibility: visible;
  background-color: white;
  height: 150px;
  width: 100%;
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: center;
}

.confirmation h2 {
  font-size: 1 rem;
  margin-bottom: 1rem;
}
