.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.links{
  
  display:flex;
  justify-content: space-between;
}

.links a{
  text-decoration: none;
  color: black;
}
h1{
  display: flex;
  justify-content: center;
}
#Pizza{
  display: flex;
  justify-content: center;
  border:2px solid gray;
  margin: 0 20em 0 20em;
  
}


#Pizza{
  background-image: url("https://raw.githubusercontent.com/LambdaSchool/web-sprint-challenge-single-page-applications/main/Assets/Pizza.jpg");
 display: flex;
 height:30em;
  width:55em;
 
}


.move{
  margin-top: 13rem;
  font-size: 1.8rem;
  
}
#order-pizza{
  text-decoration: none;
  
}

.space a{
 text-decoration: none;
 margin-left: 19rem;
}

#pizza-form{
display: flex;
justify-content: center;
margin-top: 16rem;
flex-direction: column;
margin-left: 19rem;
margin-right: 19rem;
border:3px black solid
}

.array{
  margin-left: 39rem;
  margin-top: 3rem;
  
}