a {
    text-decoration: none;
    color: red;
    font-size: 1.0rem ;
   

}
nav{
    margin-left: 30%;
}
.navbar{
   display:flex;
   flex-flow: row; 
   background-color: whitesmoke;
   
}
h1{
    font-size: 1.5rem;
    
}