*{
  /* border: 1px solid red; */
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
align-items: center;
}
img{
  width: 100vw;
  height: 600px;
}
header{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url( https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.favoriteFood{
  margin-top: 200px;
  font-size: 4.5rem;
 color: rgb(250, 130, 100);
 background-color: white;
 opacity: 0.7;

}
.homeBtn{
    padding: 15px;
    width: 350px;
    margin-top: 50px;;
    background-color: darkred;
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    color: lightcoral;
    border-radius: 30px;
    
    
}
.homeBtn:hover{
      background-color: grey;
      opacity: 0.7;
      color: white;
}

body{
  background-color: rgb(130,40,40);
 
 
}

.routeBtns{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;


  
}

.btn1{
  padding: 15px;
  width: 160px;
  background-color: white;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px;
  

}

.btn2{
  padding: 15px;
  width: 160px;
  background-color: white;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px;
  
}

.lambdaEats{
 margin-right: 50px;
 margin-top: 15px;
 font-size: 3rem;
 color: ghostwhite;
 
}
.form{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
  margin: 0 auto ;
}
.options{
  width: 250px;
  align-self: center;
}
label{
  align-self: center;
}

input{
  align-self: center;
}
.sauceSelection{
 
align-self: center;
}

.sauce{
  text-align: center
}